*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
}
main{
    margin-left: 100px;
    margin-right: 734px;
    text-align: left;
}
section{
    margin-top: 10px;
}
header{
    margin-top: 20px;
    border-bottom: 2px solid black;
    
}
header>h1,header>h2{
    display: inline-block;
    font-size:50px;
}
header>h2{
    margin-left: 10px;
    font-weight: 300;
}
.address{
    margin-top: 5px;

}
.PROFESSIONALSUMMARY{
    font-size: 15px;
}
.HIGHLIGHTS{
    margin-top: 10px;
}
.HIGHLIGHTS div{
    display: flex;   
}
.HIGHLIGHTS_right{
    width: 700px;
    margin-left: 100px;
    font-size: 12px;
}
.HIGHLIGHTS_list{
    margin-left: 100px;
}
.EXPERIENCE h2,h3 {
display: inline-block;
font-size: 15px;
}
h2,h3,h4{
    font-size: 15px;
}
.EXPERIENCE h3{
    margin-left: 20px;
}
.EXPERIENCE h4{
    margin-left: 168px;
}
.alphaenterprises,.omegasystems{
    width: 500px;
    margin-left: 200px;
    font-size:15px ;
}
.EDUCATION{
    display:flex;
}
.EDUCATION>h2{
    display: inline;
}
.EDUCATION p{
    font-weight: bold;
}

/* .EDUCATION {
    display: inline-block;
    width: 700px;
    margin-left: 100px;
} */
